<!DOCTYPE html>

<html>

<head>
{{>headerlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-centre">
                        <figure class="errimg">
                            <img src="img/autumn.jpg" alt="Hitesh" class="img-fluid" title="Hitesh page">
                        </figure>
                        <p> welcome to Hitesh world</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>go back</button></a>




                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer.................... -->
    {{>footer}}
</body>

</html>