<!DOCTYPE html>

<html>
{{>headerlinks}}

<head>

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-centre">
                        <figure>
                            <img src="./img/about2.jpg" alt="Hitesh" class="img-fluid" title="Hitesh page">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1>I am a<span class="text_color">Full Stack Developer</span>ready to help you </h1>
                        <a href="https://www.instagram.com/" target="_Hitesh"><button>About us</button></a>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
    </div>
    <!-- footer.................... -->
    {{>footer}}
</body>

</html>